.logo {
  width: 30%;
  max-width: 300px;
  height: auto;
  display: block;
  margin: 0 auto 20px auto;
  filter: drop-shadow(0 0 20px rgb(100 100 100 / 0.4));
  transition: transform 0.9s ease-in-out;
}

.logo:hover {
  transform: rotate(360deg) scale(1.2);
}
